/* styles.css */
body {
  background: linear-gradient(90deg, #716cc0, #44373a);
}

.unique-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 2;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff9900;
}s

.footer{
  align-items: center;
}
